@font-face {
    font-family: "arial";
    
}


.bg-light-2 {
    background-color: $gray-300 ;
}
.bg-light-3 {
    background-color: $gray-500 ;
}

header .text-brand {
    font-family: "open-sans";
    font-size: x-large;
}

footer .text-brand {
    font-family: "open-sans";
    font-size: medium;
}

h1 {

    font-family: "open-sans";
}

h2 {
    font-family: "open-sans";
}

.blablatage {
        font-family: "open-sans";
        font-size: 2rem; /* Taille de police pour les petits écrans */
        
}

  /* Pour les écrans de taille moyenne et plus grands, la taille de la police diminue */
@media (min-width: 992px) {
    .blablatage {
      font-size: 1rem; /* Taille de police pour les écrans moyens et grands */
    }
}

.bg-contrast {
    background-color: $contrast-color;
}

.link-hover {

    text-decoration: none;

    &:hover {

        text-decoration: underline;
    }
}

.logo_small {

    max-width: 2em;
    max-height: 2em;
}

.module-quote {
    position: relative;
    transition: transform 0.5s ease-out;
}

.reveal {
transform: translateY(var(--transform-y));
}

.parallax {
will-change: transform;
}